.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(52, 52, 50, 0.749);
    visibility: hidden;
}

.modal.aberto {
    opacity: 1;
    visibility: visible;
}

.fechar-modal {
    background-color: #fff;
    color: #f03a17;
    font-weight: bold;
    font-size: 2rem;
    width: 40px;
    padding: 5px 0px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.fechar-modal:hover {
    background-color: #f03a17;
    color: #fff;
}

.conteudo-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 5px;
    gap:15px;
}

.iframe {
    border-width: 0;
    width: 640px;
    height: 360px;
}
